@model SurfUpRedux.Models.Booking

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fjern udlejning</h1>

<h3>Er du sikker på at du vil fjerne denne udlejning?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            Surfbræt
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Board.Name)
        </dd>
        <dt class = "col-sm-2">
            Bruger
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Fjern" class="btn btn-danger" /> |
        <a asp-action="Index">Tilbage til listen</a>
    </form>
</div>
