@model IEnumerable<SurfUpRedux.Models.Booking>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Opret ny booking</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoardId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Board.Name)
            </td>

            <td>
                @if (item.User != null)
                {
                    
                        @Html.DisplayFor(modelItem => item.User.Email)
                    
                } 
                else
                {
                    <span>Free Booking</span>
                }
                </td>
                

               
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Rediger</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
